<% include partials/header %>
<div class="landing--box">
	<div class="landing--headline">
		<h1 class='landing--h1'>xchangewax</h1>
		<h2 class='landing--h2'>Trade records with everyone</h2>
	</div>
</div>


<section class="landing--welcome">
	<h1 class="landing--h1">Records are everywhere</h1>
	
	<div class="landing--about">
		<h3 class="landing--h3"><p>You love records. So do we. We're all digging for that next break, that next hay-colored needle in the phonographic stack- in thrift shops, yard sales, basement milkcrates or hemetically-sealed behind the register: That's why we made <span class='special'>xchangewax</span>, a place where you can discover record shops + undiscovered digs from everywhere + anywhere.</p>

		
	</div>
	

	</h3>
</section>



<% include partials/footer %>