<% include ./partials/header %>

<div class="login">
	
	<div class="login--login">
		<h1>Log in</h1>
	</div>	

	<div class="login--form">
		
		<form action='/login' method='POST'>
		<input type='text' name='username' placeholder='Username'>
		<input type='password' name='password' placeholder='Password'>
			<input type='submit' value='Login!'>
	</form>

	</div>

	

<% include ./partials/footer %>


</div>

